html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: lightblue;
    height: 100%;
    text-align: center;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
}


.all-1 {
    transform: translateX(100px) scale(0.5) rotateX(80deg);
}

.all-2 {
    transform: translateY(100px) scale(2.5, 0.7) rotateY(40deg);
}

.all-3 {
    transform: translate(40px, 100px) scaleX(1.7) rotateZ(80deg);
}

.translate-1 {
    transform: translateX(100px);
}

.translate-2 {
    transform: translateY(100px);
}

.translate-3 {
    transform: translate(40px, 100px);
}

.scale-1 {
    transform: scale(0.5);
}

.scale-2 {
    transform: scale(2.5, 0.7);
}

.scale-3 {
    transform: scaleX(1.7);
}

.rotate-1 {
    transform: rotateX(80deg);
}

.rotate-2 {
    transform: rotateY(80deg);
}

.rotate-3 {
    transform: rotateZ(80deg);
}

.circle-1,
.circle-2,
.circle-3,
.circle-4,
.circle-5 {
    width: 100px;
    border-radius: 50px;
    padding: 50px 0;
    line-height: 0;
    cursor: pointer;
    background-color: pink;
    color: white;
}

.circle-1 {
    transition: background-color 1s, transform 2s 1s;
}

.circle-2 {
    transition: background-color 2s 1s, transform 0.5;
}

.circle-3 {
    transition: 2s;
}

.circle-4 {
    background-color: teal;
    transition: transform 1s 1s linear;
}

.circle-5 {
    background-color: teal;
    transition: transform 1s 1s ease-in;
}

.circle-1:hover,
.circle-2:hover,
.circle-3:hover,
.circle-4:hover,
.circle-5:hover {
    background-color: salmon;
    transform: rotate(180deg);
}

.d-flex {
    display: flex;
}

.justify-content-around {
    justify-content: space-around;
}

.w-100 {
    width: 100%;
}