html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: lightblue;
    height: 100%;
    text-align: center;
}

.wrapper {
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 200px;
    height: 200px;
}

.all-1 {
    transform: translateX(100px) scale(0.5) rotateX(80deg);
}

.all-2 {
    transform: translateY(100px) scale(2.5, 0.7) rotateY(40deg);
}

.all-3 {
    transform: translate(40px, 100px) scaleX(1.7) rotateZ(80deg);
}

.translate-1 {
    transform: translateX(100px);
}

.translate-2 {
    transform: translateY(100px);
}

.translate-3 {
    transform: translate(40px, 100px);
}

.scale-1 {
    transform: scale(0.5);
}

.scale-2 {
    transform: scale(2.5, 0.7);
}

.scale-3 {
    transform: scaleX(1.7);
}

.rotate-1 {
    transform: rotateX(80deg);
}

.rotate-2 {
    transform: rotateY(80deg);
}

.rotate-3 {
    transform: rotateZ(80deg);
}